@model IEnumerable<DBContext.Models.AdvertisementCategory>
@inject IHttpContextAccessor HttpContextAccessor
@using Site.Helpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

<input id="row_id" type="hidden" />

<!-- Default box -->
<div class="card">
    <div class="card-header">
        <h3>Content Management </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">
                            <a class='btn btn-success' asp-action="Create">
                                Create new record
                            </a>
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="myTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.ItemOrder)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <!-- DataTables -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>


    <script>
    var controllerName = '@HttpContextAccessor.HttpContext.Session.GetString("ControllerName")';
    $(function () {
        $('table').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "ajax": {
                "url": "/admin/" + controllerName + "/GetData",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": true },
                { "data": "name", "name": "Name", "autoWidth": true },
                { "data": "itemOrder", "name": "ItemOrder", "autoWidth": true },
                {
                    data: null, render: function (data, type, row)
                    {
                        return '<a href="/admin/' + controllerName + '/Edit/' + row.Id + '"><i class="far fa-edit"></i></a>' +
                            '<a href="/admin/' + controllerName + '/Details/' + row.Id + '"><i class="fas fa-info-circle"></i></a>' +
                            '<a href="/admin/' + controllerName + '/Delete/' + row.Id + '"><i class="far fa-trash-alt"></i></a>';
                        }
                }
            ]
        })
    })
    </script>

    <script type="text/javascript">
    var controllerName = '@HttpContextAccessor.HttpContext.Session.GetString("ControllerName")';

        function showDelete(id) {

            $('#row_id').val(id);
            $('#modal').modal('show');
        }

        function confirmDelete() {
            var mid = $('#row_id').val();
            $('#row_id').val('');
            $.post("@Url.Action("DeleteConfirmed", "AdvertisementCategoriesController")",
                {
                    id: mid,
                },
                function (data, status) {
                    if (data.Code == @(Constants.SUCCESS_CODE)) {
                        toastr['success']('Item deleted successfully.', '', { positionClass: 'toast-top-right' });
                        //location.reload(true);
                    } else {
                        $('#modal').modal('hide');
                        toastr["error"](data.Message, '', { positionClass: 'toast-top-right' });
                    }
                });
        }
    </script>

}

