@model DBContext.Models.PaymentPackage

<div>
    <h4>PaymentPackage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MainColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsValid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>