@using Microsoft.AspNetCore.Identity
@inject SignInManager<DBContext.Models.ApplicationUser> SignInManager
@inject UserManager<DBContext.Models.ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using FuelServices.Site.Helpers.Extensions;

@using DBContext.Models;

@{
    Dictionary<string, string> session = HttpContextAccessor.HttpContext.Session.GetComplexData<Dictionary<string, string>>("Active");
    int RequestedAdsCount = 0; // (int)HttpContextAccessor.HttpContext.Session.GetInt32("RequestedAdsCount");
    int PiblishedAdsCount = 0; // (int)HttpContextAccessor.HttpContext.Session.GetInt32("PiblishedAdsCount");
    int ArchivedAdsCount = 0;// (int)HttpContextAccessor.HttpContext.Session.GetInt32("ArchivedAdsCount");
}

<aside class="main-sidebar sidebar-dark-indigo  elevation-4">
    <a href="@Url.Action("Index","Home",new {  })" class="brand-link navbar-gray">
        <img src="~/uploads/logo.png" alt="Supplier Panel" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Supplier Panel</span>
    </a>

    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@User.Identity.Name</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class='nav-item has-treeview @(session["FuelSuppliers"] == "active" ? "menu-open" : "" )'>
                    <a href="#" class="nav-link @session["FuelSuppliers"]">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            FuelSuppliers
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index","FuelSuppliers")" class="nav-link @session["FuelSuppliers.Index"]">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class='nav-item has-treeview @(session["Customers"] == "active" ? "menu-open" : "" )'>
                    <a href="#" class="nav-link @session["Customers"]">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Customers
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Customers")" class="nav-link @session["Customers.Index"]">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class='nav-item has-treeview @(session["ContactUs"] == "active" ? "menu-open" : "" )'>
                    <a href="#" class="nav-link @session["ContactUs"]">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            ContactUs
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index","ContactUs")" class="nav-link @session["ContactUs.Index"]">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item nav-header">Content</li>
                <li class='nav-item has-treeview @(session["ContentManagements"] == "active" ? "menu-open" : "" )'>
                    <a href="#" class="nav-link @session["ContentManagements"]">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            ContentManagements
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index","ContentManagements")" class="nav-link @session["ContentManagements.Index"]">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item nav-header">Ads Management</li>
                <li class='nav-item has-treeview @(session["AdvertisementCategories"]  == "active" ? "menu-open" : "" )'>
                <a href="~/admin/AdvertisementCategories/Index">
                    <i class="fas fa-flag"></i>
                    <span>Advertisement Categories</span>
                    </a>
                </li>
                <li class="nav-item has-treeview @(session["Advertisements"] == "active" ? "menu-open" : "" )">
                    <a href="#">
                        <i class="fas fa-ad"></i> <span>Advertisements</span>
                        <span class="pull-right-container">
                            <i class="fas fa-angle-left pull-right"></i>
                        </span>
                        <span class="pull-right-container" id="advertisements_counters">
                            @if (RequestedAdsCount != 0)
                            {
                                <strong class="label pull-right bg-red-gradient">@RequestedAdsCount</strong>
                            }
                            @if (PiblishedAdsCount != 0)
                            {
                                <strong class="label pull-right bg-maroon-gradient">@PiblishedAdsCount</strong>
                            }
                            @if (ArchivedAdsCount != 0)
                            {
                                <strong class="label pull-right bg-yellow-gradient">@ArchivedAdsCount</strong>
                            }
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@session["Advertisements.RequestedIndex"]">
                            <a href="~/admin/Advertisements/RequestedIndex">
                                <i class="far fa-circle"></i> <span>Requested Ads</span>
                                <span class="pull-right-container">
                                    <strong class="label bg-red-gradient pull-right">@RequestedAdsCount</strong>
                                </span>
                            </a>
                        </li>
                        <li class="@session["Advertisements.Index"]">
                            <a href="~/admin/Advertisements/Index">
                                <i class="far fa-circle"></i> <span>Published Ads</span>
                                <span class="pull-right-container">
                                    <strong class="label bg-maroon-gradient pull-right">@PiblishedAdsCount</strong>
                                </span>
                            </a>
                        </li>
                        <li class="@session["Advertisements.ArchivedIndex"]">
                            <a href="~/admin/Advertisements/ArchivedIndex">
                                <i class="far fa-circle"></i> <span>Archived Ads</span>
                                <span class="pull-right-container">
                                    <strong class="label bg-yellow-gradient pull-right">@ArchivedAdsCount</strong>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>